@model ContosoCrafts.WebSite.Models.Employee;
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="card">
    <div class="card-body">
            <h5 >@Model.Name</h5>
            <p>Name @Model.Phone</p>
            <p>Age @Model.Age</p>
            <p>Address @Model.Address</p>
    </div>
    <div class="card-footer">
        <h6>Created by Shahid</h6>
    </div>

    </div>